Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

оценка 2 и ниже — низкий рейтинг;
оценка 4 и ниже — средний рейтинг;
оценка 4.5 и 5 — высокий рейтинг.
Результат классификации запишите в столбец class.

In [87]:
import pandas as pd

In [89]:
movies = pd.read_csv('movies.csv')
rating = pd.read_csv('ratings.csv')

In [111]:
def watcher(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    elif rating <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'


rating['class'] = rating['rating'].apply(watcher)
full_rates = rating.merge(movies, on='movieId', how='left')
full_rates.head(10)

,userId,movieId,rating,timestamp,class,title,genres
0,1,31,2.5,1260759144,средний рейтинг,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,средний рейтинг,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,средний рейтинг,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,низкий рейтинг,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,средний рейтинг,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
5,1,1263,2.0,1260759151,низкий рейтинг,"Deer Hunter, The (1978)",Drama|War
6,1,1287,2.0,1260759187,низкий рейтинг,Ben-Hur (1959),Action|Adventure|Drama
7,1,1293,2.0,1260759148,низкий рейтинг,Gandhi (1982),Drama
8,1,1339,3.5,1260759125,средний рейтинг,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller
9,1,1343,2.0,1260759131,низкий рейтинг,Cape Fear (1991),Thriller

Задание 2 Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [188]:
keywords_geo = pd.read_csv('keywords.csv', encoding='UTF-8')
keywords_geo.head(3)

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114

In [220]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}


def classify_region(row):
    keyword_set = row['keyword'].lower()  
    for region, city_list in geo_data.items():
        for city in city_list:
            if city in keyword_set:  
                return region
    return 'undefined'  

"применяем функцию"
keywords_geo['region'] = keywords_geo.apply(classify_region, axis=1)

"сортируем по региону центр,дальний восток для проверки"
#center_keywords = keywords_geo[keywords_geo['region'] == 'Центр']
#center_keywords.head(3)
vostok_keywords = keywords_geo[keywords_geo['region'] == 'Дальний Восток']
vostok_keywords.head(3)

                  keyword   shows          region
1063  фарпост владивосток  176951  Дальний Восток
2175       дром хабаровск   98361  Дальний Восток
3206     дром владивосток   73084  Дальний Восток

В переменную years запишите список из всех годов с 1950 по 2010 года.

In [234]:
years = pd.date_range(start='1950-01-01', end='2010-12-31', freq='YE').year.tolist()

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте алгоритм:

для каждой строки пройдите по всем годам списка years;
если номер года присутствует в названии фильма, то функция возвращает этот год, как год выпуска;
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год.

In [292]:
def production_year(title):
    if isinstance(title, str):
        for year in years:
            if str(year) in title:
                return year
    return 1900 

full_rates['year'] = full_rates['title'].apply(production_year)

full_rates.head(3)

,userId,movieId,rating,timestamp,class,title,genres,year
0,1,31,2.5,1260759144,средний рейтинг,Dangerous Minds (1995),Drama,1995
1,1,1029,3.0,1260759179,средний рейтинг,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1,1061,3.0,1260759182,средний рейтинг,Sleepers (1996),Thriller,1996

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга.

In [294]:
average_ratings = full_rates.groupby('year')['rating'].mean().reset_index()

average_ratings.columns = ['год', 'средняя оценка']


sorted_average_ratings = average_ratings.sort_values(by='средняя оценка', ascending=False)


sorted_average_ratings.head(5)

     год  средняя оценка
8   1957        4.067797
3   1952        4.061538
5   1954        4.044343
23  1972        4.029621
25  1974        4.001934